* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  background: #000;
  font-family: "Inconsolata", monospace;
  position: relative;
  z-index: 0;
}

nav {
  position: absolute;
  width: 3rem;
  height: 3rem;
  top: 3rem;
  right: 3rem;
}

.btn-wrapper {
  height: 3rem;
  width: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-in-out;
  z-index: 6;
  cursor: pointer;
}

.burger-btn {
  height: 0.3rem;
  width: 3rem;
  position: relative;
  background: rgba(255, 255, 255, 0.4);
  transition: all 0.5s ease-in-out;
  border-radius: 5rem;
}

.burger-btn::before,
.burger-btn::after {
  position: absolute;
  content: "";
  width: 3rem;
  height: 0.3rem;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 5rem;
  transition: all 0.5s ease-in-out;
}

.btn-wrapper.open .burger-btn {
  background: transparent;
  transform: translateX(-50px);
}

.btn-wrapper.open .burger-btn::before {
  transform: rotate(45deg) translate(35px, -35px);
}

.btn-wrapper.open .burger-btn::after {
  transform: rotate(-45deg) translate(35px, 35px);
}

.burger-btn::before {
  transform: translateY(-16px);
}

.burger-btn::after {
  transform: translateY(16px);
}

.slide-nav {
  position: absolute;
  width: 15rem;
  height: 15rem;
  top: 8rem;
  right: -20rem;
  color: #ddd;
  list-style: none;
  background: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-in-out;
  border-radius: 4rem;
}

.slide-nav::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  background: linear-gradient(90deg, #d630f2, #ff002f, #e4ff00, #d630f2);
  width: 102%;
  height: 102%;
  background-size: 400%;
  z-index: -1;
  border-radius: 4rem;
}

.slide-nav li {
  margin: 1rem 0;
}

.slide-nav li a {
  color: white;
  text-decoration: none;
}

.wavy {
  position: relative;
  -webkit-box-reflect: below -12px linear-gradient(transparent, rgba(0, 0, 0, 0.2));
}
.wavy span {
  position: relative;
  display: inline-block;
  color: #fff;
  font-size: 5rem;
  margin: 0.3rem;
  animation: animate 1s ease-in-out infinite;
  animation-delay: calc(0.1s * var(--i));
}

.wavy span:before,
.color-text:before {
  content: attr(data-text);
  position: absolute;
  background: linear-gradient(90deg, #d630f2, #ff002f, #e4ff00, #d630f2);
  background-size: 300%;
  overflow: hidden;
  transition: width 2s;
  animation: animatecolor 5s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.wavy span:nth-child(4) {
  margin-left: 2.5rem;
}

.sub-header {
  color: #eee;
  font-size: 1.5rem;
  margin: 7rem 0 4rem 0;
}

.buttons {
  width: 40rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.buttons button,
.buttons a {
  width: 9rem;
  background-image: linear-gradient(115deg, #d630f2, #ff002f, #e4ff00, #d630f2);
  text-align: center;
  margin: 0 auto;
  position: relative;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

.buttons span {
  padding: 1rem;
  display: block;
  margin: 3px;
  background: #000;
  font-family: "Inconsolata", monospace;
  cursor: pointer;
}

@keyframes animate {
  0% {
    transform: translateY(0px);
  }

  20% {
    transform: translateY(-20px);
  }

  40% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes animatecolor {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 300% 0;
  }
}
